# 06 Списки (Lists)

Списки - это наиболее общая версия последовательностей в Python. В отличие от строк, списки можно менять - элементы внутри списка можно менять!

Мы изучим следующие темы:
    
    1) Создание списков
    2) Индексирование списков и разбиение их на части
    3) Основные методы для списков
    4) Вложенные списки
    5) Введение в генераторы списков (List Comprehensions)

Списки создаются с помощью скобок [ ], элементы списка отделяются друг от друга запятыми.

Давайте посмотрим, как можно создавать списки!

In [31]:
# Присвоить переменной my_list список
my_list = [1,2,3]

Мы создали список целых чисел, но на самом деле списки могут содержать элементы разных типов. Например:

In [32]:
my_list = ['A string',23,100.232,'o']

Как и для строк, узнать количество элементов в списке можно с помощью функции len().

In [33]:
len(my_list)

4

### Индексирование и разбиение на части
Индексирование и разбиение на части работает точно так же, как и для строк. Давайте создадим новый список и напомним себе, как это работает:

In [34]:
my_list = ['one','two','three',4,5]

In [35]:
# Берём элемент на позиции 0
my_list[0]

'one'

In [36]:
# Берём позицию 1 и всё что после нее
my_list[1:]

['two', 'three', 4, 5]

In [37]:
# Берём всё ДО позиции 3
my_list[:3]

['one', 'two', 'three']

Как и для строк, для списков можно использовать + для конкатенации списков.

In [38]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Обратите внимание: сам список my_list при этом не поменялся!

In [39]:
my_list

['one', 'two', 'three', 4, 5]

Если нужно поменять изначальный список, то можно переопределить список.

In [40]:
# Указываем новое значение
my_list = my_list + ['add new item permanently']

In [41]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

Также можно использовать * для дублирования, как и для строк:

In [42]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [43]:
# Опять же, это не затрагивает изначальный список
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

## Основные методы для списков

Если Вы знаете другие языки программирования, то можете провести параллели между массивами в других языках и списками в Python. Однако списки в Python более гибкие, чем массивы в других языках, по двум причинам: у них нет фиксированного размера (то есть нам не нужно указывать, насколько большим будет список), и они не ограничивают типы объектов (как мы видели выше).

Давайте посмотрим некоторые методы, специфичные для списков:

In [60]:
# Создаем новый список
list1 = [1,2,3]

Метод **append** добавляет новый элемент в конец списка:

In [61]:
# Append
list1.append('append me!')

In [62]:
# Проверка
list1

[1, 2, 3, 'append me!']

Метод **pop** "вынимает" элемент из списка. По умолчанию вынимается последний элемент, но Вы также можете указать позицию, с которой нужно вынуть элемент. Рассмотрим пример:

In [63]:
# Вынимаем элемент на позиции 0
list1.pop(0)

1

In [64]:
# Проверка
list1

[2, 3, 'append me!']

In [65]:
# Сохраняем вынимаемый элемент в отдельной переменной.
# Помните, по умолчанию вынимаем последний элемент в списке (индекс -1)
popped_item = list1.pop()

In [66]:
popped_item

'append me!'

In [115]:
# Проверка
list1

[2, 3]

Также следует сказать, что обращение по несуществующему номеру индекса выдаст ошибку, если такого элемента нет. Например:

In [114]:
list1[100]

IndexError: list index out of range

Мы также можем использовать методы **sort** и **reverse** для сортировки списков:

In [69]:
new_list = ['a','e','x','b','c']

In [70]:
# проверка
new_list

['a', 'e', 'x', 'b', 'c']

In [74]:
# Используем reverse для обратной сортировки (изменения сохраняются в списке!)
new_list.reverse()

In [75]:
new_list

['c', 'b', 'x', 'e', 'a']

In [76]:
# Используем sort для сортировки списка (в этом случае по алфавиту, а для чисел было бы по возрастанию)
new_list.sort()

In [77]:
new_list

['a', 'b', 'c', 'e', 'x']

## Вложенные списки
Прекрасная особенность структур данных в Python состоит в том, что они могут быть вложенными (*nested*). Это значит, что мы можем создавать структуры данных внутри структур данных. Например: список внутри списка.

Давайте посмотрим, как это работает!

In [78]:
# Создадим три списка
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Создадим список списков, получаем матрицу
matrix = [lst_1,lst_2,lst_3]

In [79]:
# Проверка
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Мы можем использовать индексы, чтобы получить элементы - но теперь у нас два уровня индексирования. Сначала элементы в списке matrix, а затем элементы внутри выбранного списка!

In [80]:
# Берем первый элемент в объекте matrix
matrix[0]

[1, 2, 3]

In [82]:
# Берем первый элемент внутри первого элемента в объекте matrix
matrix[0][0]

1

# Генераторы списков (List Comprehensions)
В Python есть возможность создавать списки с помощью генераторов списков (List Comprehensions). Этот термин трудно перевести на русский язык, иногда его ещё переводят как "абстракция списков" или "списковое включение". Генераторы списков позволяют быстро создавать списки. Чтобы понять их, нам нужно понять работу циклов for. Не волнуйтесь, если этот раздел пока будет выглядеть не вполне понятно - просто пропустите его, мы вернемся к этой теме позже.

Но если Вы хотите знать уже сейчас. то вот пример:

In [88]:
# Создаем список с помощью цикла for внутри []
first_col = [x[0] for x in matrix]

In [89]:
first_col

[1, 4, 7]

## Пример 1

In [90]:
# Получить все буквы в строке
lst = [x for x in 'word']

In [91]:
# Проверка
lst

['w', 'o', 'r', 'd']

Это основная идея генератора списков. Если Вы знакомы с математической нотацией, то этот формат выглядит похоже, например: x^2 : x in { 0,1,2...10 }

Рассмотрим ещё несколько примеров для генератора списков в Python:
## Пример 2

In [93]:
# Взять диапазон чисел, возвести их в квадрат, и вернуть в виде списка
lst = [x**2 for x in range(0,11)]

In [94]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Пример 3
Посмотрим как можно добавить оператор <code>if</code>:

In [95]:
# Взять чётные числа из диапазона
lst = [x for x in range(11) if x % 2 == 0]

In [96]:
lst

[0, 2, 4, 6, 8, 10]

## Пример 4
Мы также можем выполнить более сложную арифметику:

In [98]:
# Сконвертировать градусы Цельсия в градусы Фаренгейта
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Пример 5
Мы также можем создавать вложенные генераторы списков, например:

In [99]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

## Задание 1

Есть строка 'hello'. Введите команду, которая выведет букву 'e'. Введите Ваш код в ячейке ниже:

In [110]:
s = 'hello'
# Выведите 'e' с помощью индексирования
print (s[1])

e

Выведите строку 'hello' в обратном порядке

In [3]:
s ='hello'
# Выведите строку в обратном порядке
x=s[::-1]
print (x)

olleh

Используя строку hello, укажите два способа, как можно получить букву 'o' с помощью индексирования.

In [5]:
s ='hello'
# Выведите букву 'o'

# Способ 1:
print (s[4])

o

In [2]:
# Способ 2:
s ='hello'
for x in s:
  if x == 'о':
    print (x)
print (x)

o

## Задание 2

Создайте список [0,0,0] двумя разными способами.

In [7]:
# Способ 1:
lst =[]
lst.append (0)
lst.extend ([0,0])
print (lst)

[0, 0, 0]

In [20]:
# Способ 2:
lst = [0] * 3
print (lst)

[0, 0, 0]

Переопределите 'hello' в этом сложенном списке, чтобы вместо этого сказать 'goodbye':

In [22]:
list3 = [1,2,[3,4,'hello']]
list3 [2][2] = 'goodbye'
print (list3)

[1, 2, [3, 4, 'goodbye']]

Отсортируйте список ниже:

In [34]:
list4 = [5,3,4,6,1]
list4.sort ()
print (list4)

[1, 3, 4, 5, 6]